{% extends 'base.twig' %}

{% block Content %}

{% for item in dbs %}
    
    <div style="width: 15vh; height: 15vh; float:left;">
       <a  href="/db{{item}}"><p style="width: 10vh;"> {{ item }}</p>
    <img src='/img/database.png' style="width: 12vh; height: 12vh;">
</a>
    </div>

{% endfor %}

{% endblock %}
