{% extends 'base.twig' %}

{% block Content %}

{% for item in dbs %}
    
    <div style="width: 10vh; height: 10vh; float:left;">
       <a href="db{{item}}"> {{ item }}
    <img src='/img/database.png' style="width: 7.5vh; height: 7.5vh;">
</a>
    </div>

{% endfor %}

{% endblock %}
